.w-baseauthdb-div {
    margin: 0;
    padding-top: 20px;
    background-color: #e8e8e8;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 18px;
}

.w-baseauthdb-content {
    padding-bottom: 180px
}

.w-baseauthdb-container:before,
.w-baseauthdb-container:after {
    display: table;
    content: ""
}

.w-baseauthdb-container:after {
    clear: both
}

.w-baseauthdb-container {
    position: relative;
    width: 980px;
    margin: 0 auto
}

.w-baseauthdb-form-section {
    box-shadow: 0 0 13px #d4d4d4;
    background-color: #fff;
    border-radius: 10px;
    padding: 36px 18px;
    margin-bottom: 18px
}

.w-baseauthdb-form-content-sign {
    margin: 0 auto;
    width: 100%;
    max-width: 560px
}

.w-baseauthdb-input-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 18px;
}

.w-baseauthdb-input-item .-label {
    width: 160px;
    padding-right: 10px;
    padding-left: 15px;
    line-height: 17px;
    min-height: 35px;
    display: flex;
    align-items: center;
    font-size: 13px
}

.w-baseauthdb-input-item .-input {
    width: calc(100% - 160px)
}

.w-baseauthdb-input-item .-input input[type=date] {
    width: 140px !important
}

.w-baseauthdb-input-item .-input input[type=text],
.w-baseauthdb-input-item .-input input[type=email],
.w-baseauthdb-input-item .-input input[type=number],
.w-baseauthdb-input-item .-input input[type=password],
.w-baseauthdb-input-item .-input input[type=date],
.w-baseauthdb-input-item .-input textarea {
    width: 100%;
    resize: none
}

.w-baseauthdb-input-item .-input.has-error input[type=text],
.w-baseauthdb-input-item .-input.has-error input[type=email],
.w-baseauthdb-input-item .-input.has-error input[type=number],
.w-baseauthdb-input-item .-input.has-error input[type=password],
.w-baseauthdb-input-item .-input.has-error input[type=date],
.w-baseauthdb-input-item .-input.has-error textarea {
    border: 1px solid #9b4848
}

.w-baseauthdb-input-item .-validation-error {
    color: #9b4848;
    font-size: 12px;
    line-height: 15px
}

.w-baseauthdb-input-item .-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap
}

.w-baseauthdb-input-item .-tabs-item {
    border: 1px solid #0267d1;
    border-radius: 16px;
    margin: 0 8px 0 0;
    padding: 0 16px;
    line-height: 28px;
    color: #0267d1;
    cursor: pointer
}

.w-baseauthdb-input-item .-tabs-item:hover {
    background-color: #d6e0e9;
    color: #0267d1
}

.w-baseauthdb-input-item .-tabs-item-active,
.w-baseauthdb-input-item .-tabs-item-active:hover {
    background-color: #0267d1;
    color: #fff;
    pointer-events: none
}

.w-baseauthdb-input-item .-tabs-item.-links {
    display: block;
    text-decoration: none
}

.w-baseauthdb-input-item .-button {
    width: calc(100% - 160px);
    display: flex;
    align-items: center
}

.w-baseauthdb-input-item .-button.-forgot {
    justify-content: space-between
}

.w-baseauthdb-input-item .-form-button {
    margin-right: 10px;
    white-space: nowrap;
    padding: 0 12px;
    background-color: #ff6000;
    background-image: linear-gradient(to top, #ff6000, #ff9000);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .05);
    border: 1px solid #ba8b6d;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
    color: #fff
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1023px) {
    .w-baseauthdb-container {
        width: 760px
    }
}

@media screen and (max-width: 800px) {
    .w-baseauthdb-content {
        padding-bottom: 0 !important
    }

    .w-baseauthdb-container {
        width: 100%;
        padding: 0 10px
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 601px) {
    .w-baseauthdb-input-item .-label {
        width: 120px
    }

    .w-baseauthdb-input-item .-input {
        width: calc(100% - 120px)
    }

    .w-baseauthdb-input-item .-tabs .-tabs-item {
        margin-bottom: 5px
    }

    .w-baseauthdb-input-item .-button {
        width: calc(100% - 120px)
    }
}

@media screen and (max-width: 480px) {
    .w-baseauthdb-form-content-sign {
        margin-bottom: 9px
    }

    .w-baseauthdb-input-item .-label {
        width: 100%;
        padding: 0;
        line-height: 1;
        margin-bottom: 10px;
        min-height: 0;
        display: block
    }

    .w-baseauthdb-input-item .-button {
        width: 100%
    }

    .w-baseauthdb-input-item .-input {
        width: 100%
    }
}



@media screen and (min-width: 801px) {}